{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true,
        "useESModules": false
      }
    ],
    "syntax-trailing-function-commas"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": false
          }
        ],
        "syntax-trailing-function-commas"
      ]
    }
  }
}
